
<div class="container">

    <h1>Employee Registration</h1>
    
    <form (ngSubmit)="submit()">
        <div class="form-group">
            <label for="name">Name</label><br>
            <input type="text" name="name" class="form-control"/>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="phone">Phone</label><br>
            <input type="text" name="phone" class="form-control"/>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="name">Email</label><br>
            <input type="text" name="name" class="form-control"/>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    
    </div>
    