<button type="button" name="button" (click)='getinfofromserviceclass1()'>Employee1</button>
<ul class="list-grout">
    <li *ngFor="let info of infoReceived1" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)='getinfofromsericeclass2()'>Employee2</button>
<ul class="list-grout">
    <li *ngFor="let info of infoReceived2" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)='getinfofromserviceclass3()'>Employee3</button>
<ul class="list-grout">
    <li *ngFor="let info of infoReceived3" class="list-group-item">{{info}}</li>
</ul>